.btn{
    background-color: tomato !important;
    color: white !important;
}

.destination .form-container{
    background-color: rgb(235, 235, 235);
    padding: 2rem 1rem !important
}

.destination .map-img img{
    width: 100%;
}

input#date {
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-left: 15px;
}





